{% extends 'forum/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
	.fa {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}
.center {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
.fa:hover {
  color: #f24033;
}

.liked{color: #f24033;}
</style>
    {% for post in posts %}
    <div class="post-content">
		<div class="post-text">
			<h2 style="text-align: center;"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
		</div>
		{% if post.filetype == 'image' %}
			<div>
				<embed src="{{post.files.url}}" type="image/jpg" class="center img-responsive post-image"  width="600px" height="500px"></embed>
			</div>
		{% endif %}
		<div class="post-container">
			<img src="{{ post.author.profile.image.url }}" alt="user" class="profile-photo-md pull-left"/>
			<div class="post-detail">
				<div class="user-info">
					<h5><a href="{% url 'user-posts' post.author.username %}" class="profile-link">{{ post.author }}</a></h5>
					<p class="text-muted">{{ post.date | date:"F d, Y" }}</p>
				</div>
				
				<div class="line-divider"></div>
				
				<div class="post-text">
					<p>{{ post.content }}</p>
				</div>
                <div class="line-divider"></div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if nocomments %}
        <h6>No comments yet!</h6>
    {% else %}
        <legend class="border-bottom mb-4">Comments</legend>
        <div class="content-section">
            {% for reply in replies %}
                <div class="post-container">
                    <img src="{{ reply.author.profile.image.url }}" alt="user" class="profile-photo-md pull-left"/>
                    <div class="post-detail">
                        <article>
                            <div class="media-body">
                                <div class="article-metadata" style="margin-left:15px;font-size: 15px;">
                                <a class="mr-2" href="{% url 'user-posts' reply.author.username %}"  >{{ reply.author.username }}</a>
                                <small class="text-muted">{{ reply.date | date:"F d, Y" }}</small>
                                </div>
                                <p class="article-content"  style="margin-left:15px;font-size: 15px;">{{ reply.content }}</p>
                            </div>
                            </article>
                        <div class="line-divider"></div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
       
    {% endif %}
    {% for post in posts%}
        <form  method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Comment Here...</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" style="width:100%;" type="submit">Comment</button>
            </div>
        </form>
    {% endfor %}
		<!--  -->
	
{% endblock content %}