{% extends 'forum/base.html' %}
{% block content %}
<style>
	.fa {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}
.center {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
.fa:hover {
  color: #f24033;
}

.liked{color: #f24033;}

.image-upload > input {
  visibility:hidden;
  width:0;
  height:0
}
</style>
<div class="post-content">
	<div class="post-text">
		<h2 style="text-align: center;"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ object.title }}</a></h2>
	</div>
	{% if object.filetype == 'image' %}
		<div>
			<embed src="{{object.files.url}}" type="image/jpg" class="center img-responsive post-image"  width="600px" height="500px"></embed>
		</div>
	{% endif %}
	<div class="post-container">
		
		<img src="{{ object.author.profile.image.url }}" alt="user" class="profile-photo-md pull-left"/>
		<div class="post-detail">
			<div class="user-info">
				<h5><a href="{% url 'user-posts' object.author.username %}" class="profile-link">{{ object.author }}</a></h5>
				<p class="text-muted">{{ object.date | date:"F d, Y" }}</p>
			</div>
			<div class="reaction">
				<a name="post_id" value="{{post.id}}"  ><i  class="fa fa-heart liked"></i></a><h6 style="font-size: 25px;display: inline-block;margin: 5px;">{{object.total_upvotes}}</h6>
			</div>
			
			<div class="line-divider"></div>
			
			<div class="post-text">
				<p>{{ object.content }}</p>
			</div>
			<div class="line-divider"></div>
			{% if object.author == user %}
		      	<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
		      	<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
		      {% endif %}
		</div>
	</div>
</div>

{% endblock content %}