{% extends 'forum/base.html' %}
{% block content %}
<style>
	.fa {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: #f24033;
}

.liked{color: #f24033;}
</style>
<h1 class="mb-3">Posts by {{view.kwargs.username}}</h1>
	{% for post in posts %}
		<article class="media content-section">
		  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
		    <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date | date:"F d, Y" }}</small>
		    </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
			<p class="article-content">{{ post.content }}</p>
			{% if post.filetype == 'image' %}
			<div>
				<embed src="{{post.files.url}}" type="image/jpg" style="width: 100%;height: 100%;border: none;"></embed>
			</div>
			{% endif %}
			<form action="{% url 'upvote_post' post.pk %}" method="POST">
				{% csrf_token %}
				{% if post.pk in liked_posts %}
					<button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary" ><i  class="fa fa-heart liked"></i></button>
				{% else %}
					<button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary" ><i  class="fa fa-heart"></i></button>
				{% endif %}
				<div style="float: right;">upvotes : {{post.total_upvotes}}</div>
				<a href="{% url 'post-comment' post.id %}">view Comments</a>
			</form>
		  </div>
		  
		</article>
	{% endfor %}
<!-- 
	{% for post in posts %}
		<article class="media content-section">
		  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date | date:"F d, Y" }}</small>
		    </div>
		    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
		</article>
	{% endfor %}
 -->

{% endblock content %}