{% extends 'forum/base.html' %}
{% block content %}
<style>
	.fa {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}
.center {
	display: block;
        margin: auto;
        padding: 10px;
    }
.fa:hover {
  color: #f24033;
}

.liked{color: #f24033;}
</style>
<h1 class="mb-3">Posts by {{view.kwargs.username}}</h1>
	{% for post in posts %}
	<div class="post-content">
		<div class="post-text">
			<h2 style="text-align: center;"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
		</div>
		{% if post.filetype == 'image' %}
			<div>
				<embed src="{{post.files.url}}" type="image/jpg" class="center img-responsive post-image"  width="600px" height="500px"></embed>
			</div>
		{% endif %}
		{% if post.video_link != 'None' %}
				<div style="margin: 10px;">
					<iframe class = "center" width="420" height="315"  src="{{post.video_link}}">
					</iframe>
				</div>
			{% endif %}
		<div class="post-container">
			
			<img src="{{ post.author.profile.image.url }}" alt="user" class="profile-photo-md pull-left"/>
			<div class="post-detail">
				<div class="user-info">
					<h5><a href="{% url 'user-posts' post.author.username %}" class="profile-link">{{ post.author }}</a></h5>
					<p class="text-muted">{{ post.date | date:"F d, Y" }}</p>
				</div>
				
				<div class="line-divider"></div>
				
				<div class="post-text">
					<p>{{ post.content }}</p>
				</div>
				<div class="line-divider"></div>
				<div class="reaction">
					<form action="{% url 'upvote_post' post.pk %}" method="POST">
						{% csrf_token %}
						{% if post.pk in liked_posts %}
							<button type="submit" name="post_id" value="{{post.id}}" style="outline: none;border: none;background: none;" ><i  class="fa fa-heart liked"></i></button><h6 style="font-size: 25px;display: inline-block;margin: 5px;">{{post.total_upvotes}}</h6>
						{% else %}
							<button type="submit" name="post_id" value="{{post.id}}" style="outline: none;border: none;background: none;"><i  class="fa fa-heart"></i></button><h6 style="font-size: 25px;display: inline-block;margin: 5px;">{{post.total_upvotes}}</h6>
						{% endif %}
					</form>
				</div>
				<a href="{% url 'post-comment' post.id %}">view Comments</a>
				
			</div>
		</div>
	</div>

	{% endfor %}


{% endblock content %}