{% extends 'forum/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
	.fa {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}
.center {
	display: block;
		margin: auto;
        padding: 10px;
    }
.fa:hover {
  color: #f24033;
}

.liked{color: #f24033;}

.image-upload > input {
  visibility:hidden;
  width:0;
  height:0
}
</style>


{% if user.is_authenticated %}
				<div class="col-md-2 static">
                    <div class="profile-card">
                        <!--<img src="images/users/user-1.jpg" alt="user" class="profile-photo" />-->
                        <h3 style="color:white; text-align: center;">Courses</h3>
                        <!--<a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>-->
                    </div>
                    <!--profile card ends-->
                    <ul class="nav-news-feed">
                        <li><i class="icon ion-ios-paper"></i>
                            <div><a href="#">English</a></div>
                        </li>
                        <li><i class="icon ion-ios-paper"></i>
                            <div><a href="#">Mathematics</a></div>
                        </li>
                        <li><i class="icon ion-ios-paper"></i>
                            <div><a href="#">Science</a></div>
                        </li>
                        <li><i class="icon ion-ios-paper"></i>
                            <div><a href="#">Social studies</a></div>
                        </li>
                        <li><i class="icon ion-ios-paper"></i>
                            <div><a href="#">Hindi</a></div>
                        </li>
                        <li><i class="icon ion-ios-paper"></i>
                            <div><a href="#">Computer Science</a></div>
                        </li>
                    </ul>
				</div>
				
				{% endif %}
				<div class="col-md-7">
					<div class="create-post">
						<div class="row">
							<form method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="col-md-10 col-sm-10">
									<div class="col-md-2 col-sm-2">
										<img src="{{ user.profile.image.url }}" alt="" class="profile-photo-md" />
									</div>
									<div class="col-md-10 col-sm-10">
										<div style="display: block; margin: 5px;">
											{{form.title}}
										</div>
										<div style="display: block;margin: 5px;">
											{{form.content}}
										</div>
										<div class="col-md-6 col-sm-6">
											<div style="display: inline-block;margin-right: 2px;width: 100%;" >
												{{form.classes}}
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div style="display: inline-block;width: 100%;">
												{{form.subject}}
											</div>
										</div>
										<br><br>
											<div style="display: block; margin: 5px;">
												{{form.video_link}}
											</div>
									</div>	
								</div>
								<div class="col-md-2 col-sm-2">
									<div>
										<ul class="publishing-tools list-inline">
											<div class="image-upload">
												<label for="id_files1">
													<a><i class="ion-images" style="font-size: 25px;"></i></a>
												</label>{{form.files1}}
											</div>
										</ul>
										<button class="btn btn-primary pull-right" type="submit">Publish</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3 static">
					<div class="profile-card">
                        <!--<img src="images/users/user-1.jpg" alt="user" class="profile-photo" />-->
                        <h3 style="color:white; text-align: center;">Notifications</h3>
                        <!--<a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>-->
                    </div>
                    <div class="suggestions" id="sticky-sidebar">

                        <div id="demo">
                            <button type="button" onclick="loadDoc()">Change Content</button>
                        </div>

                    </div>
                </div>
	<div class="col-md-7">
		{% for resource in resources %}
		<div class="post-content">
			<div class="post-text">
				<h2 style="text-align: center;"><a class="article-title" href="{% url 'resource-detail' resource.id %}">{{ resource.title }}</a></h2>
			</div>
			{% if resource.filetype == 'image' %}
				<div>
					<embed src="{{resource.files.url}}" type="image/jpg" class="img-responsive post-image"></embed>
				</div>
			{% elif resource.filetype == 'pdf' %}
				<div>
					<a href="{{resource.files.url}}" download = {{resource.title}}><img class="center" width="128px" height="128px" src="../media/fileicon.png"></a>
				</div>
			{% endif %}
			{% if resource.video_link != 'None' %}
				<iframe class = "center" width="420" height="315" src="{{resource.video_link}}">
				</iframe>
			{% endif %}
			<div class="post-container">
				
				<img src="{{ resource.author.profile.image.url }}" alt="user" class="profile-photo-md pull-left" />
				<div class="post-detail">
					<div class="user-info">
						<h5><a href="{% url 'user-resources' resource.author.username %}" class="profile-link">{{ resource.author }}</a></h5>
						<p class="text-muted">{{ post.date | date:"F d, Y" }}</p>
						<p class="text-muted">Subject : {{ resource.subject}}</p>
						<p class="text-muted">For Class : {{ resource.classes}}</p>
					</div>
					
					<div class="line-divider"></div>
					
					<div class="post-text">
						<p>{{ resource.content }}</p>
					</div>
					<div class="line-divider"></div>
				</div>
			</div>
		</div>
		{% endfor %}
		
	</div>
	

	
{% endblock content %}